@import "tailwindcss";

/* Default body font */

@theme {
  --color-bg-primary: #E9E9E4;
    --font-montserrat: var(--font-montserrat);
      --earnings-coral: #f38d71;
  --earnings-yellow: #f9cc8a;
}

body {
  font-family: var(--font-koho);
}

/* Explicit font classes */
.font-koho {
  font-family: var(--font-koho);
}

.font-integral-cf {
  font-family: var(--font-integral-cf);
}

/* Optional helpers */
.section_title {
  @apply text-xl;
}

.section_description {
  @apply text-base;
}


.earnings-card-container {
  background-color: var(--earnings-coral);
  /* border: 1px solid var(--earnings-coral); */
  display: flex;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  max-width: 850px;
  min-height: 420px;
  margin: 0 auto;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 850 420" xmlns="http://www.w3.org/2000/svg"><path d="M25,0 H825 Q850,0 850,25 V275 Q850,300 835,310 L585,412 Q570,420 550,420 H25 Q0,420 0,395 V25 Q0,0 25,0 Z" fill="black"/></svg>');
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 850 420" xmlns="http://www.w3.org/2000/svg"><path d="M25,0 H825 Q850,0 850,25 V275 Q850,300 835,310 L585,412 Q570,420 550,420 H25 Q0,420 0,395 V25 Q0,0 25,0 Z" fill="black"/></svg>');


  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}


.icon-box {
  background: rgba(255, 255, 255, 0.25);
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}


.explore-btn {
  background-color: var(--earnings-yellow);
  color: #1a1a1a;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  cursor: pointer;
}
