@import "tailwindcss";

/* Default body font */

@theme {
  --color-bg-primary: #E9E9E4;
    --font-montserrat: var(--font-montserrat);
      --earnings-coral: #f38d71;
  --earnings-yellow: #f9cc8a;
}

body {
  font-family: var(--font-koho);
}

/* Explicit font classes */
.font-koho {
  font-family: var(--font-koho);
}

.font-integral-cf {
  font-family: var(--font-integral-cf);
}

/* Optional helpers */
.section_title {
  @apply text-xl;
}

.section_description {
  @apply text-base;
}


.earnings-card-container {
  background-color: var(--earnings-coral);
  position: relative;
  width: 584px;
  height: 308px;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 850 420" xmlns="http://www.w3.org/2000/svg"><path d="M25,0 H825 Q850,0 850,25 V275 Q850,300 835,310 L585,412 Q570,420 550,420 H25 Q0,420 0,395 V25 Q0,0 25,0 Z" fill="black"/></svg>');
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 850 420" xmlns="http://www.w3.org/2000/svg"><path d="M25,0 H825 Q850,0 850,25 V275 Q850,300 835,310 L585,412 Q570,420 550,420 H25 Q0,420 0,395 V25 Q0,0 25,0 Z" fill="black"/></svg>');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}


.explore-btn {
border-radius: 10px;
background: var(--Client-sele-3, #F7CA89);
display: inline-flex;
padding: 6px 12px;
justify-content: center;
align-items: center;
gap: 4px;
color: var(--Primary-Primary0, #031226);
font-family: KoHo;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 250% */
letter-spacing: 0.48px;
text-transform: uppercase;
}
        .calendar-wrapper .react-calendar {
          background: transparent;
          border: none;
          color: white;
        }
        .calendar-wrapper .react-calendar__navigation button {
          color: white;
          font-weight: 600;
        }
        .calendar-wrapper .react-calendar__tile {
          border-radius: 9999px;
          height: 42px;
        }
        .calendar-wrapper .react-calendar__tile--active {
          background: #ff8f70 !important;
          color: white;
        }
        .calendar-wrapper .react-calendar__tile--now {
          background: rgba(255,255,255,0.25);
        }

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* width of scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E0E0E0; /* track color */
  border-radius: 4px;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F5907B; /* thumb color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #F5907B; /* hover color */
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #F5907B #E0E0E0;
}
